# Functions 
1. Define a function that takes a name as an argument and prints out a 
greeting message.

In [6]:
def greet(name):
    print(f"Hello, {name}")
greet("Divya")

Hello, Divya

2. Write a function that takes two numbers as arguments and returns their sum.

In [10]:
def sum(a, b):
    return a + b
total = sum(5, 9)
print(total)

14

3.  Define a function that takes a list of numbers as an argument and returns the 
maximum value in the list.

In [92]:
try:
    del max  
except NameError:
    pass 

def find_max(a, b, c):
    return max(a, b, c)  
ans = find_max(4, 7, 9)
print(ans)

9

In [93]:
def find_max(a, b, c):
    return max(a, b, c)  
ans = find_max(4, 7, 9)
print(ans)

9

4.  Write a function that takes a string as an argument and returns the string in 
uppercase.

In [22]:
def uppercase(name):
    return name.upper()
fullname = uppercase("divya deswal")
print(fullname)

DIVYA DESWAL

5.  Define a function that takes a number as an argument and returns the square of 
the number.

In [23]:
def square(num):
    return num ** 2
x = square(9)
print(x)

81

6.  Write a function that takes a list of numbers as an argument and returns the 
average of the numbers.

In [83]:
def calculate_average(numbers):
    return sum(numbers) / len(numbers)
numbers_list = [10, 20, 30, 40, 50]
average_value = calculate_average(numbers_list)
print(average_value)

30.0

In [85]:
def find_average(numbers):
    c = sum(numbers)  
    return c / len(numbers)  
average_value = find_average([4, 5, 6, 8, 9])
print(average_value)

6.4

7. Define a function that takes a string as an argument and returns the string with 
all vowels removed.

In [102]:
def remove_vowels(string): 
    vowels = "aeiouAEIOU"
    for vowel in vowels:
        string = string.replace(vowel, "")
    return string
str1 = "divya deswal"
str2 = remove_vowels(str1)
print(str2)

dvy dswl

8. Write a function that takes a dictionary as an argument and returns the sum of 
all values in the dictionary.

In [106]:
def sum_dict_values(dict):
    return sum(dict.values()) 
dict = {'a': 99, 'b': 50, 'c': 11}
total = sum_dict_values(dict)
print(total)

160

9. Define a function that takes a list of strings as an argument and returns the 
longest string in the list.

In [5]:
def longest_string(strings):
    return max(strings, key=len)
strings = ["apple", "banana", "cherry", "watermelon"]
res = longest_string(strings)
print(res)

watermelon

10. Write a function that takes a number as an argument and returns the factorial of 
the number.

In [7]:
def factorial(n):
    if n < 0:
        return "It is negative number."
    elif n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)
print(factorial(7)) 
print(factorial(-8)) 
print(factorial(0))

5040
It is negative number.
1

11.  Write a function that takes a list of numbers as an argument and returns the 
numbers in sorted order, without using the built-in sort() function.

In [9]:
def sorting(l1):
    for i in range(len(l1)):
        for j in range(len(l1)):
            if l1[i] < l1[j]:
                l1[j],l1[i] = l1[i],l1[j]
    return l1

list = [22,11,23,1,100,24,3,101,2,4]
print(sorting(list))

[1, 2, 3, 4, 11, 22, 23, 24, 100, 101]

12. Define a function that takes a string as an argument and returns the string with 
all characters reversed.

In [11]:
def reverse_string(s):
    return s[::-1]
original_string = "divya, deswal"
reversed_string = reverse_string(original_string)
print(reversed_string)

lawsed ,ayvid

In [12]:
def reverse_string(s):
    return ''.join(reversed(s))
original_string = "divya, deswal"
reversed_string = reverse_string(original_string)
print(reversed_string)

lawsed ,ayvid

13. Write a function that takes a dictionary as an argument and returns the 
dictionary with all keys and values swapped.

In [19]:
def dict(input_dict):
    
    swapped_dict = {value: key for key, value in input_dict.items()}
    return swapped_dict

original_dict = {'a': 1, 'b': 2, 'c': 3}
swapped = dict(original_dict)
print(swapped)

{1: 'a', 2: 'b', 3: 'c'}

14. Define a function that takes a list of numbers as an argument and returns the 
numbers in the list that are greater than the average of the numbers.

In [17]:
def numbers_greater_than_average(numbers):
    
    average = sum(numbers) / len(numbers)  
    greater_than_avg = [num for num in numbers if num > average] 
    return greater_than_avg
    
list = [10, 20, 30, 40, 50]
result = numbers_greater_than_average(list)
print(result)

[40, 50]

15.  Write a function that takes a string as an argument and returns the string with all 
words in the string capitalized.

In [18]:
# Using title() The simplest way to capitalize the first letter of each word in a string is to use the title() method

def capitalize_words(input_string):
    return input_string.title()

string = "hi! there is a dog."
result = capitalize_words(string)
print(result)

Hi! There Is A Dog.