# Sets 
1. Create a set named fruits containing the following items: "apple", "banana", 
"cherry".

In [1]:
fruits = {"apple","banana","cherry"}
print(fruits)

{'banana', 'cherry', 'apple'}

2. Add the element "orange" to the fruits set.

In [2]:
fruits = {"apple","banana","cherry"}
fruits.add("orange")
print(fruits)

{'orange', 'banana', 'cherry', 'apple'}

3. Remove "banana" from the fruits set. What happens if you try to remove an 
element that doesn’t exist using .remove() vs .discard()?

In [3]:
fruits = {"apple","banana","cherry"}
fruits.remove("banana")
print(fruits)

{'cherry', 'apple'}

In [5]:
fruits = {"apple","banana","cherry"}
fruits.discard("banana")
print(fruits)
#If the item to remove does not exist, remove() will raise an error.
#If the item to remove does not exist, discard() will NOT raise an error.

{'cherry', 'apple'}

In [9]:
fruits = {"apple","banana","cherry"}
fruits.remove("orange")
print(fruits)

KeyError: 'orange'

In [11]:
fruits = {"apple","banana","cherry"}
fruits.discard("orange")
print(fruits)

{'banana', 'cherry', 'apple'}

4. Given the set numbers = {1, 2, 3, 4, 5}, write a Python statement to find 
out how many elements are in the set.

In [12]:
a = {1,2,3,4,5}
print(len(a))

5

5. Given A = {1, 2, 3} and B = {3, 4, 5}, find the union of sets A and B.

In [20]:
A = {1,2,3}
B = {3,4,5}
C = A|B
print(C)

{1, 2, 3, 4, 5}

In [21]:
A = {1,2,3}
B = {3,4,5}
C = A.union(B)
print(C)

{1, 2, 3, 4, 5}

6. Using the same sets A and B, find the intersection.

In [22]:
A = {1,2,3}
B = {3,4,5}
C = A.intersection(B)
print(C)

{3}

In [25]:
A = {1,2,3}
B = {3,4,5}
C = A&B
print(C)

{3}

7. Find the difference between set A and set B (elements in A but not in B).

In [24]:
A = {1,2,3}
B = {3,4,5}
C = A.difference(B)
print(C)

{1, 2}

8. Find the symmetric difference between sets A and B.

In [27]:
A = {1,2,3}
B = {3,4,5}
C = A.symmetric_difference(B)
print(C)

{1, 2, 4, 5}

9. Check if set {1, 2} is a subset of set A, and if set A is a superset of {1, 2}.

In [30]:
B = {1,2}
A = {1,2,3}
B.issubset(A)

True

In [31]:
B = {1,2,4}
A = {1,2,3}
A.issubset(B)

False

In [7]:
B = {1,2}
A = {1,2,3}
C = B <= A
print(C)

True

10. Create a set of squares for numbers from 1 to 10 using set comprehension.

In [2]:
x = {1,2,3,4,5,6,7,8,9,10}
squares = {x**2 for x in range(1, 11)}
print(squares)

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

11. Given two lists, list1 = [1, 2, 2, 3, 4] and list2 = [3, 4, 4, 5, 6], 
find the unique elements from each list using sets.

In [6]:
list1 = [1, 2, 2, 3, 4] 
list2 = [3, 4, 4, 5, 6]
list = list(set(list1) - set(list2))
print(list)

[1, 2]

12. Find the common elements in three sets: 
A = {1, 2, 3, 4} 
B = {2, 3, 5, 6} 
C = {2, 3, 7, 8}

In [2]:
A = {1, 2, 3, 4} 
B = {2, 3, 5, 6} 
C = {2, 3, 7, 8}
D = A.intersection(B,C)
print(D)

{2, 3}

In [3]:
A = {1, 2, 3, 4} 
B = {2, 3, 5, 6} 
C = {2, 3, 7, 8}
D = A&B&C
print(D)

{2, 3}

13. Removing Duplicates While Preserving Order:-
                Given a list lst = [1, 2, 2, 3, 4, 4, 5], remove duplicates         
    while preserving the original order.

In [4]:
lst = [1, 2, 2, 3, 4, 4, 5]
list1 = list(set(lst))
print(list1)

[1, 2, 3, 4, 5]

##### 14. Power Set 
Write a function to generate the power set of a given set. 
Input: {1, 2}

In [9]:
input = {1,2}
print(pow(1,2))

1

##### 15. Find Missing Numbers 
##### • Question: Given two lists, full_list and partial_list, find the numbers missing in partial_list using set operations. 
##### • Example: o full_list = [1, 2, 3, 4, 5, 6] 
##### o partial_list = [2, 3, 6]

In [7]:
full_list = [1, 2, 3, 4, 5, 6]
partial_list = [2, 3, 6]
list = list(set(full_list) - set(partial_list))
print(list)

[1, 4, 5]

##### 16. Intersection over Multiple Lists 
##### • Question: Given a list of lists, find the common elements present in all sublists using sets. 
lists = [[1, 2, 3], [2, 3, 4], [2, 5, 3]]

In [12]:
lists = [[1, 2, 3], [2, 3, 4], [2, 5, 3]]
common_element = set(lists[0]).intersection(*lists[1:])
print(common_element)

{2, 3}

##### 17. Question: Write a function that counts the number of unique characters in a string using a set. 
##### Example: Input: "hello" 
##### Output: 4 (since h, e, l, o are unique; note that l is counted once)

In [19]:
input = "hello"
unique = set(input)
print(unique)

{'o', 'h', 'e', 'l'}

In [20]:
print(len(unique))

4

##### 18. Set Operations with Dictionaries 
Given two dictionaries, find the keys that are common to both using set operations. 
##### o dict1 = {'a': 1, 'b': 2, 'c': 3} 
##### o dict2 = {'b': 4, 'c': 5, 'd': 6}

In [16]:
dict1 = {'a': 1, 'b': 2, 'c': 3}
dict2 = {'b': 4, 'c': 5, 'd': 6}
x = dict1.keys()
print(x)
y = dict2.keys()
print(y)

dict_keys(['a', 'b', 'c'])
dict_keys(['b', 'c', 'd'])

In [17]:
common_element = set(dict1).intersection(dict2)
print(common_element)

{'b', 'c'}